@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 3</h1>
    <p class="lead">INT422 : ASP.NET Assignment</p>
    <p><a href="https://scs.senecac.on.ca/~wei.song/int422/assignments/INT422-Assignment3.html" target=_blank class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>INT422</h2>
        <p>
            Internet III - Web Programming on Windows - Seneca College
        </p>
        <p><a class="btn btn-default" href="https://scs.senecac.on.ca/~wei.song/int422/int422.html" target=_blank> GO &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Seneca Blackboard</h2>
        <p>One-stop portal to Seneca College information, resources, and services</p>
        <p><a class="btn btn-default" href="https://my.senecacollege.ca/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_16_1">GO &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">GO &raquo;</a></p>
    </div>
</div>